@import "components/variables.scss";
@import "components/global.scss";

@import "components/grid.scss";
@import "components/section.scss";
@import "components/card.scss";

@import "components/dropdown.scss";
@import "components/social.scss";

.logo__brand {
  margin: 0;
  display: none;
}

.logo__img {
  max-width: 10vw;
  margin: 20px;
}

.copyright {
  flex-basis: 100%;
}

.list_column {
  a {
    text-transform: uppercase;
    position: relative;
    &.active, &:hover {
      color: $fontColor;
      &:before {
        content: "//";
        position: absolute;
        right: 100%;
      }
    }
  }
}