<footer class="grid__row">
    <div class="grid__item map">map</div>
    <div class="grid__item">
        <div class="grid__row">
            <div class="grid__item">
                <address>
                    <ul class="list_column">
                        <li>90802 california long beach</li>
                        <li>po box 68789</li>
                        <li>300 east ocean boulevard</li>
                    </ul>
                    <ul class="list_column">
                        <li>+64 9 345 6758</li>
                        <li>info@dsgn-studio.com</li>
                    </ul>
                </address>
            </div>
            <div class="grid__item">
                <div class="logo">
                    <h1 class="logo__brand">DSGN - company name</h1>
                    <img class="logo__img" src="http://www.mrandmrsleads.com/uploads/1/0/0/4/100418346/logo-design-1_orig.png" alt="DSGN">
                </div>
                <ul class="social social_lg">
                    <li><a href="">facebook</a></li>
                    <li><a href="">twitter</a></li>
                    <li><a href="">instagram</a></li>
                    <li><a href="">google+</a></li>
                </ul>
            </div>
            <p class="copyright">2014 dsgn All rights reserved - Designed by me</p>
        </div>
    </div>
</footer>