<header class="header grid__row">
    <div class="grid__item" style="background: url(https://www.designconnected.com/img/dcnew/home/1_fullHD.jpg) center/cover">
        <div class="logo">
            <h1 class="logo__brand">DSGN - company name</h1>
            <img class="logo__img" src="http://www.mrandmrsleads.com/uploads/1/0/0/4/100418346/logo-design-1_orig.png" alt="DSGN">
        </div>
        <ul class="social">
            <li>
                <a href="javascript:void(0);"><i class="fa fa-facebook"></i></a>
            </li>
            <li>
                <a href="javascript:void(0);"><i class="fa fa-twitter"></i></a>
            </li>
            <li>
                <a href="javascript:void(0);"><i class="fa fa-instagram"></i></a>
            </li>
            <li>
                <a href="javascript:void(0);"><i class="fa fa-google-plus"></i></a>
            </li>
        </ul>
    </div>
    <div class="grid__header">
        <div class="nav">
            <button type="button" class="nav__toggle">
                <i class="fa fa-bars"></i>
            </button>
            <nav class="nav__menu">
                <a class="nav__item" href="javascript:void(0);">menu 1</a>
                <a class="nav__item" href="javascript:void(0);">menu 2</a>
                <a class="nav__item" href="javascript:void(0);">menu 3</a>
                <a class="nav__item" href="javascript:void(0);">menu 4</a>
            </nav>
        </div>
        <address>
            <ul class="list_column">
                <li>90802 california long beach</li>
                <li>po box 68789</li>
                <li>300 east ocean boulevard</li>
            </ul>
            <ul class="list_column">
                <li>+64 9 345 6758</li>
                <li>info@dsgn-studio.com</li>
            </ul>
        </address>
    </div>
</header>