<head>
    <meta charset="UTF-8">
    <title>DS/GN template</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!--favicons-->
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="manifest" href="/manifest.json">
    <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#ff0">
    <!--toolbar color-->
    <!-- Chrome, Firefox OS and Opera -->
    <meta name="theme-color" content="#ffff00"/>
    <!-- Windows Phone -->
    <meta name="msapplication-navbutton-color" content="#ffffff"/>
    <!-- iOS Safari -->
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">

    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="/css/font-awesome.min.css">
    <link rel="stylesheet" href="/css/style.css">
</head>