<header class="header grid__row">
    <div class="grid__item grid__item_lg"
    style="background: url(https://www.designconnected.com/img/dcnew/home/1_fullHD.jpg) center/cover">
        <div class="logo">
            <h1 class="logo__brand">DSGN - company name</h1>
            <img class="logo__img" src="http://www.mrandmrsleads.com/uploads/1/0/0/4/100418346/logo-design-1_orig.png" alt="DSGN">
        </div>
        <ul class="social social_lg">
            <li><a href="">facebook</a></li>
            <li><a href="">twitter</a></li>
            <li><a href="">instagram</a></li>
            <li><a href="">google+</a></li>
        </ul>
    </div>
    <div class="section__header">
        <nav class="dropdown">
            <button type="button" class="dropdown__toggle">
                <i class="material-icons">menu</i>
            </button>
            <ul class="dropdown__menu">
                <li><a href="">menu 1</a></li>
                <li><a href="">menu 2</a></li>
                <li><a href="">menu 3</a></li>
            </ul>
        </nav>
        <address>
            <ul class="list_column">
                <li>90802 california long beach</li>
                <li>po box 68789</li>
                <li>300 east ocean boulevard</li>
            </ul>
            <ul class="list_column">
                <li>+64 9 345 6758</li>
                <li>info@dsgn-studio.com</li>
            </ul>
        </address>
    </div>
</header>