<section class="projects masonry">
    <div class="masonry__item section__header">
        <ul class="list_column list_marked">
            <li><a class="active" href="">all</a></li>
            <li><a href="">house</a></li>
            <li><a href="">commercial</a></li>
            <li><a href="">personal</a></li>
            <li><a href="">studio lab</a></li>
        </ul>
        <h2 class="section__title">projects</h2>
    </div>
    <!--<div class="masonry__item masonry__item_md card" style="background-image:url(http://builtwithmammoth.com/sites/yabupushelberg/content/img/h_1A-20150328-ft54142.jpg);">-->
    <div class="masonry__item masonry__item_md card">
        <h3 class="card__title">fondue</h3>
        <dl class="card__description">
            <dt>project assistant</dt>  <dd>chak norris</dd>
            <dt>material</dt>           <dd>glass and metal</dd>
            <dt>typology</dt>           <dd>sofa</dd>
            <dt>client</dt>             <dd>eva</dd>
            <dt>year</dt>               <dd>2014</dd>
        </dl>
        <a href="" class="card__show-more">
            <i class="fa fa-arrow-right"></i>
            view project
        </a>
        <a href="" class="card__favorite">
            <i class="fa fa-heart-o"></i>
            <span class="card__likes">+ 200</span>
        </a>
    </div>
    <div class="masonry__item masonry__item_sm masonry__item_vertxs card">card / potter</div>
    <div class="masonry__item masonry__item_sm masonry__item_right card">card / tabano</div>
    <div class="masonry__item masonry__item_xs card">card / louis XX</div>
    <div class="masonry__item masonry__item_lg card">card / 395-396 p22</div>
    <div class="masonry__item masonry__item_sm masonry__item_vertxs card">card / fiji</div>
    <div class="masonry__item masonry__item_lg masonry__item_vertxs card">card / sesann</div>
    <div class="masonry__item masonry__item_xs masonry__item_vertxs card">card / alessi</div>
    <div class="masonry__item_vertxs section__footer">
        <h5 class="subtitle">timeline</h5>
        <ul class="list_column list_marked">
            <li><a class="active" href="">2014</a></li>
            <li><a href="">2013</a></li>
            <li><a href="">2012</a></li>
            <li><a href="">2011</a></li>
            <li><a href="">2010</a></li>
        </ul>
    </div>
</section>