.dropdown {
  display: flex;
  justify-content: center;
  flex: none;
}

.dropdown__toggle {
  border: 3px solid $fontColor_inverse;
  padding: 1em;
  color: $fontColor_inverse;
  .material-icons {
    line-height: 1;
  }
}

.dropdown__menu {
  display: none;
}