main {
  flex: 1;
}

.grid {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.grid__row {
  display: flex;
  flex-wrap: wrap;
}

.grid__item {
  flex: 1;
}

.masonry {
  &:after, &:before {
    content: "";
    display: table;
    clear: both;
  }
}

.masonry__item {
  float: left;
  height: $gridItem_height;
}

.masonry__item_vertxs {
  height: $gridItem_height / 2;
}

.masonry__item_right {
  float: right;
}

.masonry__item_lg {
  width: $gridItem_lg;
  background-color: lighten($projectsColor, 15%);
}

.masonry__item_md {
  width: $gridItem_md;
  background-color: lighten($projectsColor, 17%);
}

.masonry__item_sm {
  width: $gridItem_sm;
  background-color: lighten($projectsColor, 19%);
}

.masonry__item_xs {
  width: $gridItem_xs;
  background-color: lighten($projectsColor, 21%);
}