.section {
  border: 1px double #ddd;
}

.section__header {
  padding: 2em;
  display: flex;
  flex-direction: column;
  color: $fontColor_inverse;
  width: $gridItem_sm;
  height: $gridItem_height;
}

.section__title {
  margin: 1em 0 0;
  text-align: right;
  font-size: 3vw;
  text-transform: uppercase;
}

.header {
  .section__header {
    background: linear-gradient(to right bottom, $brandColor calc(50% - 1px), transparent calc(50% - 1px), #fff 50%, $brandColor 50%);
  }
}

.projects {
  .section__header {
    background: linear-gradient(to right bottom, $projectsColor calc(50% - 1px), transparent calc(50% - 1px), #fff 50%, $projectsColor 50%);
  }
}

.studio {
  .section__header {
    background: linear-gradient(to right bottom, $studioColor calc(50% - 1px), transparent calc(50% - 1px), #fff 50%, $studioColor 50%);
  }
}

.news {
  .section__header {
    background: linear-gradient(to right bottom, $newsColor calc(50% - 1px), transparent calc(50% - 1px), #fff 50%, $newsColor 50%);
  }
}
