.section {
  border: 1px double #ddd;
}

.section__header {
  padding: 2em;
  display: flex;
  flex-direction: column;
  color: $fontColor_inverse;
  flex: none;
  width: $gridItem_sm;
  height: $gridItem_height;
}

.section__title {
  margin: 1em 0 0;
  font-size: 3vw;
  text-transform: uppercase;
}

.header {
  .section__header {
    background: linear-gradient(to right bottom, $brandColor calc(50% - 1px), transparent calc(50% - 1px), #fff 50%, $brandColor 50%);
  }
}

.projects {
  .section__header {
    background: linear-gradient(to right bottom, $projectsColor calc(50% - 1px), transparent calc(50% - 1px), #fff 50%, $projectsColor 50%);
  }
  .section__footer {
    background: linear-gradient(-45deg, $projectsColor calc(67% - 1px), transparent calc(67% - 1px), #fff 67%, $projectsColor 67%);
  }
}

.studio {
  .section__header {
    background: linear-gradient(to right bottom, $studioColor calc(50% - 1px), transparent calc(50% - 1px), #fff 50%, $studioColor 50%);
  }
}

.news {
  .section__header {
    background: linear-gradient(to right bottom, $newsColor calc(50% - 1px), transparent calc(50% - 1px), #fff 50%, $newsColor 50%);
  }
}

.section__footer {
  padding: 2em;
  display: flex;
  flex-direction: column;
  color: $fontColor_inverse;
  width: $gridItem_sm;
}

.studio {
  display: flex;
  flex-wrap: wrap;
}

.studio__about {
  display: flex;
  padding: 2vw;
}

.studio__article {
  flex: 1;
  padding: 2vw;
}

.studio__people {
  flex-basis: 100%;
}

.studio__img {
  margin-bottom: 1em;
}

.awards__title {
  text-transform: uppercase;
  border-bottom: 2px solid #666;
  margin: 0 0 2em;
}